/*GLOBAL*/
:root{
  --black:#000;
  --white:#fff;
  --danger:#dc3545;
  --acolor:#373A3C;
  --bcolor:#dddddd;
}
body {
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Oswald',sans-serif ;
}

/*HEADER*/
.navbar-brand , footer p{
  font-family:'Raleway',sans-serif ;
  font-size: 2rem;
}

.hero{
  background-image: url(/assets/img/hero.jpg);
  height: 100vh;
  padding-top: 100px;
  background-position: right center;
    background-size: cover;
  }
@media (max-width: 500px
) {
  .hero{
    background-image: url(/assets/img/hero-mob.jpg);
    background-position: center center;
    }
}
.hero h2{
  font-weight: 200;
}

/*ABOUT ME*/

.line{
  width: 100px;
  height: 1px;
  background-color: #000;
}
/*CONTENT*/
.content{
  line-height: 2;
}
.content p{
  margin-bottom: 30px;
}
.content h5{
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
}
.content ul{
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.content ol{
padding: 0;
}
/*WORKS CARDS*/

.card-title{
  font-weight: 700;
}
.card-body h5,.card-body p , .list-group li{
  color: var(--cfont);
}
@media (min-width: 400px) {
  .card{
    width: 19rem!important;
  }
}
/*MODAL*/

.modal-body img{
  width: 100%;
}
/*NEWSLETTER*/
#newsletter{
  padding: 40px 0;
  margin-top: 35px;
}
#newsletter h2{
font-weight: 700;
}
#newsletter h4 span{
  font-family: 'Lobster', sans-serif;
}
#newsletter a{
  width: 100%;
}
#newsletter a:hover{
 color: var(--black);
}
/*POPOVER*/
.popover-body{
  background-color: var(--acolor);
  color: var(--bcolor);
  border-radius: 3px;
}
/*CAROUSEL*/
.carousel-indicators {
  bottom: -56px;


}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--acolor);
}

/*transicion lenta del carousel*/
.carousel-item{
  transition: transform 2s ease;
   opacity: .5s ease-out;
}
.carousel-item img{
  width: 100%;
}

/*BG*/
.bg-dark{
  background-color: var(--acolor)!important;
}
.bg-danger{
  background-color: var(--danger)!important;
}
